<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div [@routerTransition]>
<app-chart></app-chart>
</div>  
<!-- <div class="row">
            <span><strong>Line Chart</strong></span>
            <div class="card-block">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
       </div>
</div>
<div >
<script type="text/javascript">
document.getElementById("loading").style.display = "none";
</script>
</div> -->